
.feedback_warning {
  margin-bottom: 20px;

  p {
  
    text-align: justify;
    padding-bottom: 10px;
    
  }
  p:nth-child(3) {
    background-color: #dcdcaa;
    border-radius: 10px;
    line-height: 3.5rem;
    border: 2px solid black;
    padding: 5px;
    color: black;
    &::before {
      content: "!";
      color: red;
      font-size: 2rem;
      font-weight: bold;
      margin-right: 10px;
      position: relative;
      top: 5px;
    }
  }
}
.fedback_place {
  display: flex;
}


