.page_wrap {
  min-height: calc(100dvh - 7.05rem);
}
.home_page{
  background-color: white;
  display: flex;
  justify-content: space-between;
  .description{
    width: min(20%, 410px);
   
  }
  img{
    width: min(33%, 320px);
    height:min(44%, 395px);
    background-color: gray;
  }
  h3{
    text-align: center;
  }
  ul{
    list-style: none;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .tech_name{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 130px;
      }
     p{
      padding-left: 10px;
     }
    }
  }
}
