.page_wrap {
  min-height: calc(100dvh - 7.05rem);
  position: relative;
  z-index: 2;
  padding: 1rem;
  background-color: white;
}
.home_page {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  .main_content {
    display: flex;
    .description {
      padding-right: 1rem;
      width: 60%;
      .description_text {
        p {
          text-indent: 1.5rem;
          text-align: justify;
        }
      }

      p + p {
        padding-top: 0.2rem;
      }
      h3 {
        padding-top: 0.5rem;
      }

      &_text {
        padding-bottom: 0.5rem;
      }
    }
    aside {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .my_photo {
        width: min(20rem, 100%);
        background-color: gray;
        margin-bottom: 1.2rem;
      }
      br {
        display: none;
      }
      .contacts {
        margin-bottom: 1.2rem;
        p {
          display: flex;
          padding-top: 0.6rem;
        }
        span {
          font-weight: 600;
          padding-right: 0.6rem;
        }
      }

      .stack {
        h3 {
          text-align: center;
        }
        ul {
          list-style: none;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            .tech_name {
              width: 9.4rem;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }
            p {
              padding: 0 0.6rem 0 0.3rem;
            }
          }
          &:nth-of-type(2) {
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
    }
  }

  .future_tech {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li {
      display: flex;
      align-items: center;
      p {
        padding-left: 0.3rem;
      }
      .img_logo {
        width: 1rem;
      }
    }
  }
}
@media (min-width: 1026px) {
  .ant-image{
   width: 30%!important;
  }
 }
@media (max-width: 1025px) {
 .ant-image{
  width: 50%!important;
 }
}
@media (max-width: 825px) {
  .description {
    .ant-image {
      width: auto !important;
    }
  }
  aside {
    h3 {
      text-align: center;
    }
    .contacts {
      p {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 750px) {
  .home_page {
    .main_content {
      aside {
        br{
          display: initial;
        }
        .stack {
          ul {
            display: flex;
            flex-direction: column;
            li {
              :where(.css-dev-only-do-not-override-2q8sxy).ant-progress
                .ant-progress-steps-item {
                width: 1.8rem !important;
              }
              .tech_name {
                width: 2rem;
                padding-right: 0.5rem;
                svg {
                  font-size: 2rem;
                }
              }
            }
          }
        }
        p {
          display: none;
        }
      }
    }
    .future_footer {
      svg {
        g {
          width: 1rem;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  h2 {
    text-align: center;
  }
  .home_page .future_tech {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .home_page .main_content {
    flex-direction: column;
    .description, aside {
      width: 100%;
    }
    aside{
      br{
        display: none;
      }
    }
  }
}
