.footer {
  background: #001529;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    &:nth-child(4) {
      svg {
        g {
          fill: #fff;
        }
      }
    }
    svg {
      font-size: 1.8rem;
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  a + a {
    margin-left: 15px;
  }
}

.ant-layout-footer {
  padding: 0;
  z-index: 2;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 21, 41);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  ul {
    width: 80%;
  }
}

.nav-menu {
  border: none;
  margin: 0;
  float: left;
}

.nav-menu .ant-menu-item,
.nav-menu .ant-menu-submenu-title,
.header__visitors {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

.header__visitors {
  display: flex;
  align-items: center;
  svg {
    font-size: 25px;
    filter: drop-shadow(0 0 0.75rem rgba(255, 172, 51, 0.9));
  }
  p{
    display: inline-block;
    width: 2rem;
  }
}
.icon__wrap {
  line-height: initial;
}
.header__count {
  padding-left: 5px;
  display: inline-block;
  animation-delay: 0.5s;
}
.animate__animated {
  animation-duration: 2s;
}

p {
  font-size: 1rem;
}

main {
  background: linear-gradient(
    225deg,
    hsla(271, 89%, 73%, 1) 44%,
    hsla(206, 84%, 58%, 1) 100%
  );
  .main_icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    li {
      position: absolute;
      display: block;
      list-style: none;
      width: 30px;
      height: 30px;
      bottom: 0;
      svg {
        width: 100%;
        height: 100%;
      }
      &:nth-child(1) {
        right: 10px;
        top: 8%;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        left: 10px;
        top: 90%;
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        left: -5px;
        top: 75%;
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        left: 25px;
        top: 60%;
      }
      &:nth-child(5) {
        left: 15px;
        top: 45%;
        transform: rotate(-35deg);
      }
      &:nth-child(6) {
        left: -10px;
        top: 30%;
        transform: rotate(35deg);
      }
      &:nth-child(7) {
        left: 10px;
        top: 15%;
      }
      &:nth-child(8) {
        right: 25px;
        top: 25%;
        transform: rotate(-15deg);
      }
      &:nth-child(9) {
        right: 0px;
        top: 40%;
        transform: rotate(-5deg);
      }
      &:nth-child(10) {
        right: 15px;
        top: 55%;
      }
      &:nth-child(11) {
        right: 15px;
        top: 70%;
        transform: rotate(15deg);
      }
      &:nth-child(12) {
        right: 3px;
        top: 85%;
        transform: rotate(125deg);
      }
    }
  }
}

.ant-switch{
  background: #1677ff;
}

.ant-switch:hover:not(.ant-switch-disabled){
  background: #4096ff
}

a, span{
  background-color: inherit;
}

@media (min-width: 1900px) {
  :where(.css-dev-only-do-not-override-2q8sxy).ant-menu .ant-menu-title-content{
    font-size:1.5rem;
  }
  :where(.css-dev-only-do-not-override-2q8sxy).ant-layout .ant-layout-header{
    height: 4.4rem;
  }
}

@media (max-width: 550px) {
 main{
  padding: 0 1rem!important;
 }
}