.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #001529;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-menu {
  background: #001529;
  border: none;
  margin: 0;
  float: left;
}

.nav-menu .ant-menu-item,
.nav-menu .ant-menu-submenu-title,
.header__visitors {
  color: #fff;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
}
.header__visitors {
  display: flex;
  align-items: center;
  svg {
    font-size: 25px;
    filter: drop-shadow(0 0 0.75rem rgba(255, 172, 51, 0.9));
  }
}
.icon__wrap {
  line-height: initial;
}
.header__count {
  padding-left: 5px;
  display: inline-block;
  animation-delay: 0.5s;
}
.page_wrap{
  padding-top: 4rem;
}
