.tech_page {
  text-align: justify;
   h2{
    margin: 0;
    padding-top: 2rem;
   }
  br{
    display: none;
  }
  p {
    text-indent: 25px;
  }
  ol {
    padding-left: 1.5rem;
  }

 ul {
    list-style: none;

    li {
      
      &:nth-child(odd) {
        .technical__label {
          justify-content: flex-start;
        }
      }
      &:nth-child(even) {
        .technical__label {
          justify-content: flex-end;
        }
      }
    }
  }
}

.history_updates{
  ul{
    
    li::before {
      content: "-"; /* устанавливаем желаемый маркер */
      margin-right: 0.5em; /* добавляем немного отступа между маркером и текстом */
    }
  }
}

.technical__label {
  display: flex;
  align-items: center;

  h3 {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }

  svg {
    width: 25px;
    height: 25px;
  }
  img {
    width: 75px;
  }
}

@media (min-width: 1900px) {
  .tech_page {
    text-align: justify;
    h3{
      font-size: 2rem;
    }
    p, ol {
     font-size: 1.5rem;
    }
  }
}

@media (max-width:550px) {
  .tech_page {
   br{
    display: inherit;
   }
  }
}

