.tech_page {
  text-align: justify;
  p {
    text-indent: 25px;
  }
  ol {
    padding-left: 1.5rem;
  }

  ul {
    list-style: none;

    li {
      h2 {
        padding-top: 20px;
      }
      &:nth-child(odd) {
        .technical__label {
          justify-content: flex-start;      
        }
      }
      &:nth-child(even) {
        .technical__label {
          justify-content: flex-end;         
        }
      }

    }
   
  }
}

.technical__label {
  display: flex;
  align-items: center;

  h3 {
    padding-left: 0.5rem;
    font-size: 1.3rem;
  }

  svg {
    width: 25px;
    height: 25px;
  }
  img{
    width:75px;
    
  }
}
